{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="content">
        <h1>Welcome, API Platform Con!</h1>
        <p>This site is brought to you by Frankenphp</p>
        <img src="{{ asset('images/dabbing.svg') }}">
    </div>
{% endblock %}
